---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <p class="mt-0">
          0541 Magazine adalah media musik yang hadir untuk mengangkat cerita,
          talenta, dan karya dari berbagai penjuru. Kami menyajikan liputan,
          ulasan, dan konten kreatif yang memperkaya ekosistem musik lokal
          maupun global.
        </p>
      </div>
    </div>
  </section>
</Layout>
